<?xml version="1.0" encoding="UTF-8"?>

<phpunit beStrictAboutTestsThatDoNotTestAnything="true"
         checkForUnintentionallyCoveredCode="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="NotificationHub Library Test Suite">
            <directory>tests/NotificationHubsRest/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/NotificationHubsRest/</directory>
        </whitelist>
    </filter>
</phpunit>
